# Berlin Traffic Accidents source-aligned - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-traffic-accidents-2021-00-csv/berlin-traffic-accidents-2021-00-planning-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

        id  total  is_bike  ...  is_motorcycle  is_truck  is_other
0  1100101     34       12  ...              5         0         7
1  1100102    102       34  ...             17         4        17
2  1100103     37       13  ...              9         1         5
3  1100104     19        7  ...              1         1         5
4  1100205     48       27  ...              9         0         6

[5 rows x 8 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536 entries, 0 to 535
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             536 non-null    int64
 1   total          536 non-null    int64
 2   is_bike        536 non-null    int64
 3   is_car         536 non-null    int64
 4   is_by_foot     536 non-null    int64
 5   is_motorcycle  536 non-null    int64
 6   is_truck       536 non-null    int64
 7   is_other       536 non-null    int64
dtypes: int64(8)
memory usage: 33.6 KB

In [4]:

# Describe dataframe
dataframe.describe()

                 id       total  ...    is_truck    is_other
count  5.360000e+02  536.000000  ...  536.000000  536.000000
mean   6.533135e+06   21.013060  ...    0.638060    3.447761
std    3.372730e+06   17.387014  ...    1.031996    3.817945
min    1.100101e+06    1.000000  ...    0.000000    0.000000
25%    3.601450e+06    9.000000  ...    0.000000    1.000000
50%    6.300528e+06   17.000000  ...    0.000000    2.000000
75%    9.301151e+06   28.000000  ...    1.000000    5.000000
max    1.260124e+07  170.000000  ...    7.000000   38.000000

[8 rows x 8 columns]