# Berlin Traffic Accidents source-aligned - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-traffic-accidents-2021-00-csv/berlin-traffic-accidents-2021-00-details.csv")

In [2]:

# Display 5 first rows
dataframe.head()

       id  year  month  ...        lon        lat geojson_feature_id
0  219249  2021     11  ...  13.426895  52.533940            3701658
1  219248  2021     12  ...  13.392090  52.439951            7501134
2  219247  2021     12  ...  13.326242  52.538028            4100101
3  219246  2021     12  ...  13.316521  52.499534            4501041
4  219243  2021     12  ...  13.525752  52.493867           11501339

[5 rows x 19 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11267 entries, 0 to 11266
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11267 non-null  int64
 1   year                11267 non-null  int64
 2   month               11267 non-null  int64
 3   hour                11267 non-null  int64
 4   weekday             11267 non-null  object
 5   category            11267 non-null  object
 6   type                11267 non-null  object
 7   type_1              11267 non-null  object
 8   light_condition     11267 non-null  object
 9   is_bike             11267 non-null  int64
 10  is_car              11267 non-null  int64
 11  is_by_foot          11267 non-null  int64
 12  is_motorcycle       11267 non-null  int64
 13  is_truck            11267 non-null  int64
 14  is_other            11267 non-null  int64
 15  street_condition    11267 non-null  int64
 16  lon                 11267 non-null  float64
 17  lat                 11267 non-null  float64
 18  geojson_feature_id  11267 non-null  int64
dtypes: float64(2), int64(12), object(5)
memory usage: 1.6+ MB

In [4]:

# Describe dataframe
dataframe.describe()

                  id     year  ...           lat  geojson_feature_id
count   11267.000000  11267.0  ...  11267.000000        1.126700e+04
mean   200048.203870   2021.0  ...     52.507556        5.824250e+06
std     34841.735786      0.0  ...      0.047501        3.477835e+06
min    109753.000000   2021.0  ...     52.351347        0.000000e+00
25%    210441.500000   2021.0  ...     52.476805        2.500834e+06
50%    213258.000000   2021.0  ...     52.509795        5.200423e+06
75%    216074.500000   2021.0  ...     52.539028        8.200832e+06
max    219249.000000   2021.0  ...     52.655966        1.260124e+07

[8 rows x 14 columns]